In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
movies = pd.read_csv("tmdb_5000_movies.csv",encoding='latin-1')
credits = pd.read_csv("tmdb_5000_credits.csv",encoding='latin-1')

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
# merge two dataframes
movies=movies.merge(credits,on='title')

In [7]:
movies.shape

(4809, 23)

In [8]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [9]:
movies=movies[['title','movie_id','overview','keywords','genres','cast','crew']]

In [10]:
movies.isnull().sum()

title       0
movie_id    0
overview    3
keywords    0
genres      0
cast        0
crew        0
dtype: int64

In [11]:
movies.dropna(inplace=True)

In [12]:
movies.head(1)

,title,movie_id,overview,keywords,genres,cast,crew
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [13]:
import ast
ast.literal_eval

# preprocessing data from dictionary to clean list

In [14]:
#preprocessing data from dictionary to clean list
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [15]:
movies['genres'] = movies['genres'].apply(convert)

In [16]:
movies['keywords'] = movies['keywords'].apply(convert)

In [17]:
#preprocessing data from dictionary to clean list
def convert1(obj):
    s = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            s.append(i['name'])
            counter += 1
        else:
            break
    return s

In [18]:
movies['cast'] = movies['cast'].apply(convert1)

In [19]:
#preprocessing data from dictionary to clean list
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [20]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [21]:
movies.head(2)

,title,movie_id,overview,keywords,genres,cast,crew
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

converting string to list

In [22]:
# converting string to list
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [23]:
movies.head(2)

,title,movie_id,overview,keywords,genres,cast,crew
0,Avatar,19995,"[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,Pirates of the Caribbean: At World's End,285,"[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

# removing space for better recommendation

In [24]:
# removing space for better recommendation
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x] )
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x] )
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x] )
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x] )

In [25]:
movies.head()

,title,movie_id,overview,keywords,genres,cast,crew
0,Avatar,19995,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,Pirates of the Caribbean: At World's End,285,"[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,Spectre,206647,"[A, cryptic, message, from, Bondâs, past, se...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,The Dark Knight Rises,49026,"[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,John Carter,49529,"[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [26]:
movies['tags'] = movies['overview'] + movies['keywords'] + movies['genres'] + movies['cast'] + movies['crew']

In [27]:
final_movies = movies[['title' ,'movie_id', 'tags']]

In [28]:
final_movies.head(1)

    title  movie_id                                               tags
0  Avatar     19995  [In, the, 22nd, century,, a, paraplegic, Marin...

In [29]:
final_movies['tags'] = final_movies['tags'].apply(lambda x:" ".join(x))

C:\Users\HP\AppData\Local\Temp\ipykernel_4216\992163678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_movies['tags'] = final_movies['tags'].apply(lambda x:" ".join(x))

In [30]:
final_movies['tags'] = final_movies['tags'].apply(lambda x:x.lower())

C:\Users\HP\AppData\Local\Temp\ipykernel_4216\2052187400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_movies['tags'] = final_movies['tags'].apply(lambda x:x.lower())

In [31]:
final_movies.head()

,title,movie_id,tags
0,Avatar,19995,"in the 22nd century, a paraplegic marine is di..."
1,Pirates of the Caribbean: At World's End,285,"captain barbossa, long believed to be dead, ha..."
2,Spectre,206647,a cryptic message from bondâs past sends him...
3,The Dark Knight Rises,49026,following the death of district attorney harve...
4,John Carter,49529,"john carter is a war-weary, former military ca..."

# Model Building Vectorization

In [32]:
# Model Building Vectorization
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000 , stop_words='english')

In [33]:
vectors = cv.fit_transform(final_movies['tags']).toarray()

# Stemming to get root form of word

In [34]:
import nltk
from nltk.stem.porter import PorterStemmer

In [35]:
ps = PorterStemmer()

In [36]:
def stem(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [37]:
final_movies['tags'] = final_movies['tags'].apply(stem)

C:\Users\HP\AppData\Local\Temp\ipykernel_4216\497862952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_movies['tags'] = final_movies['tags'].apply(stem)

# Similarities between words

In [38]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [39]:
# sorted(list(enumerate(similarity[0])),reverse=True,key = lambda x:x[1])[0:5]

In [40]:
def recommend(movie):
    movie_index = final_movies[final_movies['title'] == movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)),reverse=True,key = lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(final_movies.iloc[i[0]].title)
    #final_movies.iloc[i[0]].title

In [41]:
recommend('Aliens vs Predator: Requiem')

Independence Daysaster
Slither
AVP: Alien vs. Predator
Predators
The Thing

In [42]:
#final_movies[final_movies['title'] == 'Avatar'].index[0]

In [43]:
#final_movies.iloc[1224].title
'Hanging Up'

'Hanging Up'

# Model

In [44]:
import pickle
pickle.dump(final_movies,open('movies.pkl','wb'))

In [45]:
pickle.dump(final_movies.to_dict(),open('movies_dict.pkl','wb'))

In [46]:
pickle.dump(similarity,open('similarity.pkl','wb'))